/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .home-link {
        cursor: pointer;
        text-decoration: none;
        color: #f2f2f2;
    }
    .home-link:hover {
        box-shadow: inset 0 -4px 0 rgba(242,242,242,.4);
    }
    a {
        color: #EA5449;
    }

    a .uhh {
        font-size: 3rem;
    }

    p {
        font-family: ['Armata', 'sans-serif'];
        --tw-text-opacity: 1;
        color: rgba(46, 53, 50, var(--tw-text-opacity));
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.625;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1rem;
    }

    @media (min-width: 1024px) {
        p {
            width: 91.6666%;
        }
    }

    .cg-wrap{
        background-image: url(./assets/img/chessOpenings/trb2.svg) !important;
    }
}